# -------------- iptables-nft DSCP marking only --------------
*mangle
:PREROUTING ACCEPT [0:0]
:OUTPUT     ACCEPT [0:0]

{% set netify = firewall_cfg.dscp_classes.netifyd | default({}) %}
{% for name, cls in netify.items() %}
{%   set phb = (cls.mark | default(cls.dscp | default('cs0'))).upper() %}
# --- {{ name }} ------------------------------------------------------
-A PREROUTING -m set --match-set {{ name }} src -j DSCP --set-dscp-class {{ phb }}
-A PREROUTING -m set --match-set {{ name }} dst -j DSCP --set-dscp-class {{ phb }}
-A OUTPUT     -m set --match-set {{ name }} dst -j DSCP --set-dscp-class {{ phb }}
{% endfor %}
COMMIT
